#version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - ragnet
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_streamlit
    depends_on:
      - qdrant
    environment:
      # OpenAI
      OPENAI_API_KEY: "${OPENAI_API_KEY}"

      # Qdrant
      QDRANT_HOST: "qdrant"
      QDRANT_PORT: "6333"

      # Streamlit (evita erros no deploy)
      STREAMLIT_SERVER_HEADLESS: "true"
      STREAMLIT_SERVER_PORT: "8501"
      STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
      STREAMLIT_SERVER_ENABLECORS: "false"

    ports:
      - "8501:8501"
    networks:
      - ragnet
    restart: unless-stopped

networks:
  ragnet:
    driver: bridge

volumes:
  qdrant_data:
